.dt-pages>.p-datatable-wrapper>.p-datatable-table {
     border: 1px solid var(--surface-200);
     border-radius: 5px;
}

.dt-pages>.p-datatable-header {
     border-bottom: none;
}

.dt-pages>.p-datatable-wrapper {
     border-bottom: 1px solid transparent;
}

.dt-pages>.p-datatable-header {
     border-bottom: none;
     padding: 1rem 0.5rem !important;
}

.dt-pages>.p-datatable-wrapper>.p-datatable-table {
     border-bottom: none;
}

.dt-pages>.p-datatable-wrapper {
     -webkit-action-box-shadow: 4px 6px 5px -6px rgba(0, 0, 0, 0.2);
     -moz-action-box-shadow: 4px 6px 5px -6px rgba(0, 0, 0, 0.2);
     action-box-shadow: 4px 6px 5px -6px rgba(0, 0, 0, 0.2);
}

.overlay-add-page>.p-sidebar-header {
     flex-direction: row-reverse;
}