.p-datatable-header,
.p-card-content {
     padding-top: 0 !important;
}

.dt-users>.p-datatable-wrapper>.p-datatable-table {
     border: 1px solid var(--surface-200);
     border-radius: 5px;
}

.dt-users>.p-datatable-header {
     border-bottom: none;
}

.dt-users>.p-datatable-wrapper {
     border-bottom: 1px solid transparent;
}

.dt-users>.p-datatable-header {
     border-bottom: none;
     padding: 1rem 0.5rem !important;
}

.dt-users>.p-datatable-wrapper>.p-datatable-table {
     border-bottom: none;
}

.dt-users>.p-datatable-wrapper {
     -webkit-action-box-shadow: 4px 6px 5px -6px rgba(0, 0, 0, 0.2);
     -moz-action-box-shadow: 4px 6px 5px -6px rgba(0, 0, 0, 0.2);
     action-box-shadow: 4px 6px 5px -6px rgba(0, 0, 0, 0.2);
}

.p-fileupload .p-fileupload-content {
     padding: 0;
}

.overlay-add-page>.p-sidebar-content {
     margin-bottom: 5rem;
}

.user-profile-image {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 80px;
     height: 80px;
     color: #ffffff;
     font-size: 30px;
     border-radius: 50%;
     font-weight: 800;
}

.invalid-text-color {
     color: red;
}